* {
    margin: 0;
    padding: 0;
    font-family: calibri;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 1rem;
}

.container>p {
    color: gray;
    letter-spacing: 1px;
}

.grid-container
{
    padding: 2rem 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.card-container{
    flex: 33.33%;
}

.plan-title-1,.plan-title-3
{
background-color: rgb(209, 224, 230);
padding: 0.8rem 2rem;
}

.plan-title-2
{
    background-color: blueviolet;
    padding: 0.8rem 2rem;
    color: white;
}

.plan-content-2,.plan-content
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top:3rem;
    padding-bottom: 3rem;
}

.plan-content-2
{
    box-shadow: rgba(84, 85, 87, 0.2) 0px 8px 24px;
    background-color: white;
}
.plan-info
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.plan-btn-2>button
{
    padding: 0.6rem;
    border: none;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.plan-btn>button
{
    padding: 0.6rem;
    border: 1px solid darkblue;
    background-color: white;
    color:darkblue;
    font-weight: 600;
    letter-spacing: 1px;
}

.number
{
    font-size: 2rem;
    font-weight: 600;
}

.plan-price-2>p
{
color: blueviolet;
letter-spacing: 1px;
}

.plan-price
{
    letter-spacing: 1px;
}


@media screen and (max-width:750px) {
    .grid-container
    {
        flex-direction: column;
        
    }
}
